#d1{background-color:pink; }
#d2{background-color:green;grid-column:2/-1;}
#d3{background-color:black; grid-row:2/6 ;}
#d4{background-color:lightgreen;}
#d5{background-color:black; grid-column:3/5;}
#d6{background-color:blue; grid-row:2/6; grid-column:5/6}
#d7{background-color:orange;}
#d8{background-color:pink;}
#d9{background-color:pink;}
#d10{background-color:lightblue; grid-column:2/4;}
#d11{background-color:black;}
#d12{background-color:black; grid-column:2/5;}
main{width:70%; margin:50px auto;
		color:white;
	
		display:grid;
		grid-template-columns:50px repeat(3,1fr) 50px;
		grid-template-rows: 60px repeat(3,1fr) 60px;
		grid-gap:5px;
		
		
		}
		*{background:red;}