.div1{background-color:red; grid-column:1/-1;}
.div2{background-color:lightgreen;}
.div3{ background-color:blue;}
.div4{background-color:darkread;}
.div5{ background-color:black; grid-row:2/4 ; grid-column:4/5;}
.div6{ background-color:darkgreen; grid-column:1/4;}
.div7{ background-color:yellow; grid-column:1/-1; grid-row:4/5}

*{background:lightblue;
		color:white;
	
	}
	main{
		grid-gap:20px;
		width:80%;
		margin:50px auto;
		border:10px solod green;
		display:grid;
		grid-template-rows:60px 100px 200px 60px;
		grid-template-columns:repeat(3,1fr) 100px;
	}
